.accomodation-container {
  color: #ff6060;
  display: flex;
  justify-content: space-between;
  margin: 15px 0 5px 0;
}
.infos-title {
  margin: 10px 0 0 0;
  font-size: 36px;
}

.infos-location {
  margin: 5px 0;
  font-size: 18px;
}
.owner {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}
.owner-name {
  width: min-content;
  display: flex;
  text-align: end;
  font-size: 18px;
  padding-right: 15px;
}
.owner-photo {
  border-radius: 50px;
  width: 64px;
  height: 64px;
}
.tags-container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.tag {
  background-color: #ff6060;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  padding: 5px 25px;
  margin: 0 10px 5px 0;
}
.stars-container {
  display: flex;
  flex-wrap: nowrap;
  height: 30px;
  /* margin: auto; */
  margin-top: 10px;
}
.star {
  padding: 0 4px;
}

@media screen and (max-width: 768px) {
  .accomodation-container {
    flex-direction: column;
  }
  .infos-title {
    font-size: 18px;
  }
  .infos-location {
    font-size: 14px;
  }

  .tag {
    font-size: 10px;
  }
  .stars-container {
    height: 15px;
    margin: auto;
  }
  .owner-and-starsnumber {
    display: flex;
    flex-direction: row-reverse;
  }

  .owner-name {
    font-size: 12px;
  }
  .owner-photo {
    width: 32px;
    height: 32px;
  }
}
