.CarrouselContainer {
  width: 100%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slidesNumber {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.slideStyle {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
}
.arrows {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.arrows img {
  cursor: pointer;
}

.textCar {
  position: absolute;
  display: flex;
  font-size: 18px;
  color: white;
}

@media screen and (max-width: 1000px) {
  .arrows {
    width: 75%;
  }
  .slideStyle {
    height: 390px;
  }
}
@media screen and (max-width: 768px) {
  .arrows {
    width: 86%;
  }
  .arrows img {
    width: 25px;
  }
  .slideStyle {
    height: 255px;
  }
  .textCar {
    font-size: 13px;
  }
}
@media screen and (max-width: 650px) {
  .arrows {
    width: 83%;
  }
}
@media screen and (max-width: 350px) {
  .arrows {
    width: 75%;
  }
}
