.gallery-container {
  background-color: #f7f7f7;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 60px;
  justify-content: center;
  margin-bottom: 30px;
  padding: 50px;
}

.card-link {
  display: flex;
  align-items: end;
}

.img-card {
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}
.accommodation-title {
  position: absolute;
  width: 10%;
  color: #f7f7f7;
  margin: 10px;
}
