.gallery-container {
  background-color: #f7f7f7;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  margin-bottom: 30px;
}

.card {
  background-color: #ff6060;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  margin: 20px;
}
.img-card {
  border-radius: 5px;
  height: 80%;
  width: 100%;
}
.accommodation-title {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  list-style-type: none;
  display: flex;
  width: 80%;
  color: #f7f7f7;
}
.card-link {
  text-decoration: none;
}
