.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.nav-container {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav-link {
  color: #ff6060;
  padding-left: 50px;
  padding-right: 20px;

  align-items: flex-end;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
