.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.nav-container {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-link {
  color: #ff6060;
  margin-left: 50px;
  margin-right: 20px;
  align-items: flex-end;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline;
}

/* ******************************MOBILE****************************** */

@media screen and (max-width: 600px) {
  .logo-header {
    width: 30%;
  }
  .nav-link {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 400px) {
  .logo-header {
    width: 50%;
  }
  .nav-container {
    display: flex;
    flex-direction: column;
  }
  .nav-link {
    font-size: 100%;
    margin-top: 10px;
  }
}
