.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.section-close {
  font-family: 'Montserrat';
  background-color: #ff6060;
  color: white;
  font-weight: 700;
  width: 80%;
  margin: 10px;
  font-size: 24px;
  cursor: pointer;
}
.section-open {
  background: #f7f7f7;
  color: #ff6060;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.title-icon {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.icon-open {
  transform: rotate(180deg);
  transition: all 0.8ms;
}
