.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.nav-container {
  list-style-type: none;
  display: flex;
  align-items: center;
}
nav a {
  color: #ff6060;
  margin-left: 50px;
  margin-right: 20px;
  align-items: flex-end;
  font-size: 24px;
  text-decoration: none;
}
.active {
  text-decoration: underline;
}
.nav-link:hover {
  font-weight: 600;
}

/* **************************** */

@media screen and (max-width: 768px) {
  .header-container {
    height: 47px;
  }

  nav a {
    font-size: 12px;
    margin-left: 10px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 400px) {
  .logo-header {
    height: 47px;
  }
  .header-container {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
  }
  nav a {
    margin: 15px 20px 0 0;
  }
}
