.accomodation-container {
  color: #ff6060;
  display: flex;
  justify-content: space-between;
  margin: 15px 0 5px 0;
}
.infos-title {
  margin: 10px 0 0 0;
  font-size: 36px;
}

.infos-location {
  margin: 5px 0;
  font-size: 18px;
}
.owner {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}
.owner-name {
  width: min-content;
  display: flex;
  text-align: end;
  font-size: 18px;
  padding-right: 15px;
}
.owner-photo {
  border-radius: 50px;
  width: 64px;
  height: 64px;
}

/* **************************** */

@media screen and (max-width: 768px) {
  .accomodation-container {
    flex-direction: column;
  }
  .infos-title {
    font-size: 18px;
  }
  .infos-location {
    font-size: 14px;
  }
  .owner-and-starsnumber {
    display: flex;
    flex-direction: row-reverse;
  }

  .owner-name {
    font-size: 12px;
  }
  .owner-photo {
    width: 32px;
    height: 32px;
  }
}
